@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #5552ff;
  --primary-color-hover: #2563EB; 
  
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #2563eb; 
    --primary-color-hover: #1d4ed8; 
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

.blur-background {
  /* backdrop-filter: blur(10px); */
  filter: blur(5px);
}


